body {
  background-color: #e7ecec;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #A1B6C2;
  padding: 0;
}
ul.header li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}
ul.header li a:hover {
  background-color: #7ca4c9; 
}
.content {
  background-color: #e7ecec;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #cfc7e6;
}
.plaza {
  width: 300px;
  height: 200px;
  box-shadow: 10px 10px 5px 12px lightblue;
  margin-bottom: 30px;
}