.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}
.restaurant-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.restaurant-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5))
}
.restaurant-details {
  flex: 1;
}
.restaurant-name {
  font-size: 1.25rem;
  font-weight: bold;
}
.restaurant-description {
  color: #555;
}